@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.numbers {
    gap: 4rem;
    @include mixins.getFlex(center, center, row, wrap);

    &__number {
        width: 40rem;
        height: 30rem;
        background: variables.$numbersBackground;
        @include mixins.getFlex;
        border-radius: 1rem;
        box-shadow: variables.$boxShadow;
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            background: darken(variables.$numbersBackground, 5%);
        }
    }

    &__h2 {
        font-size: 500%;
        font-family: 'Open Sans', sans-serif;
    }
}