@use "../../abstracts/variables";

.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;

    &__number {
        width: 40rem;
        height: 30rem;
        background: variables.$numbersBackground;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        box-shadow: variables.$boxShadow;
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            background: darken(variables.$numbersBackground, 5%);
        }
    }

    &__h2 {
        font-size: 500%;
        font-family: 'Open Sans', sans-serif;
    }
}